/*#parent{ 
    background-color:yellowgreen;
     height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 0%;
    margin: 0% 5%;
    flex-direction: row;
    justify-content: center; 
    justify-content: space-between;
    justify-content: end;
    justify-content: start;
    justify-content: space-between ;
    justify-content: space-around; 
    justify-content: space-around;
    align-items: space-around;
   
}
#mobileapp{
    background-color:yellowgreen;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1%;
    margin-top: 15%;
    margin-left: 27%;
}*/














#box1{
   background-color: red;
   width: 25%;
   /* height:140px ; */
   /* margin: 9px; */
   /* display: flex; */
   /* flex-wrap: wrap; */
   /* flex-direction: column; */
    /* height: 150px;  */
    float: left;
    
}
#box2{
    background-color: yellow;
    width: 25%;
    /* height:140px ; */
    /* margin: 9px; */
    /* height:150px;  */
    float: left;
   
}
#box3{
    background-color:rebeccapurple ;
    width: 25%;
    /* height:150px; */
    /* margin: 9px; */
    float: left;
    
}
#box4{
    background-color: aqua;
    width: 10%;
    float: left;
    height: 166px;
}

p{
    padding: 20px;
}
