h1{
    background-color: blue;
   /* width: 200px;*/
}
a {
    background-color: aqua;
}
.lorem{
    width: 400px;
    height: 400px;
    padding: 30px;
    margin-bottom:2px;
    margin-top: 20px;
    border:10px solid black;
   
    overflow: scroll;
    /*overflow-y:scroll;
    overflow-x: scroll;
    overflow: hidden;*/
}
div{
    background-color: yellow;
}